html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin: 0; /* Remove margin-bottom to prevent unnecessary spacing */
    display: flex;
    flex-direction: column; /* Stack header, content, and footer */
    min-height: 100vh; /* Ensure the body spans the full viewport height */
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

main {
    flex: 1; /* Allow main content to grow and push footer to the bottom */
}

footer {
    background-color: #0d6efd; /* Match bg-primary color */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
